# Week3 Clustering

## Load Data

In [1]:
import numpy as np 
import pandas as pd 

import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
#경고 메세지는 무시
import warnings
warnings.filterwarnings("ignore")

In [3]:
# Mall Customers Data
mall = pd.read_csv("mall_customers.csv")
mall.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40